* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 700px;
    background: #999;
    text-align: center;
    border-radius: 5px;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer div {
    padding: 1rem 2rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls div {
    padding: 1rem 2rem;
}